# Python
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
venv/

# SQLite database
db.sqlite3

# Static files collected
/staticfiles/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.idea/
.vscode/
